.boletim-card {
    padding: 16px;
    max-width: 300px;
    max-height: auto;
    align-items: center;
    border: 20px;

  }

  
  .card-image {
    background-image: url('http://unidades/sites/CEDESSP/info/js/ptf/assets/img/shots/boletim.jpg');
    background-size: cover;
  }