<div style="justify-content: center">
    <h1>Boletins</h1>
    <p>
      This is a platform for technical writers to manage their blog post contents related to angular.
      <br> Click on Login to get Started!!! </p>
      <br>
      <br>
      <div>
            <button mat-button>Click aqui</button>
            <button mat-raised-button>Click aqui</button>
            <button mat-flat-button>Click aqui</button>
            <button mat-stroked-button>Click aqui</button>
    </div>
    <div>
        <button mat-icon-button>Icon</button>
        <button mat-fab>Fab</button>
        <button mat-mini-fab>MiniFab</button>

    </div>
    <div>
            <button color="primary" mat-button>Primary</button>
            <button color="accent" mat-button>Accent</button>
            <button color="warn" mat-button>Warn</button>
            <button color="primary" mat-raised-button>Primary</button>
            <button color="accent" mat-raised-button>Accent</button>
            <button color="warn" mat-raised-button>Warn</button>
    
        </div>

<div>
    <mat-button-toggle #toggleBtn checked disableRipple >
        Toggle
    </mat-button-toggle>
    {{toggleBtn.checked}}
</div>

<div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="todos">Todos</mat-button-toggle>
        <mat-button-toggle value="alta">Alta</mat-button-toggle>
        <mat-button-toggle value="baixa">Baixa</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div>

      <br>
      <br>
      <br>
      <br>
      <mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
          <mat-tab label="Todos"> Plataforma Alta e Baixa </mat-tab>
          <mat-tab label="Alta"> Plataforma Alta </mat-tab>
          <mat-tab label="Baixa"> Plataforma Baixa </mat-tab>
      </mat-tab-group>
      {{tabRef.selectedIndex}}




      <!--<mat-icon color="primary">book</mat-icon>-->

      <br>
      <mat-card class="boletim-card">
          <mat-card-header>
            <mat-card-title>ABEND AD2L</mat-card-title>
            <mat-card-subtitle>Falta de definição DB2ENTRY</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="boletim-card" style="text-align:center">
              <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
              </p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button>Abrir</button>
          </mat-card-actions>
      </mat-card>
<br>
        <mat-card class="boletim-card">
            <mat-card-header>
              <mat-card-title>CICS</mat-card-title>
              <mat-card-subtitle>CALL x LINK</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="boletim-card" style="text-align:center">
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button>Abrir</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="boletim-card">
              <mat-card-header>
                <div mat-card-avatar class="card-image"></div>
                <mat-card-title>ABEND</mat-card-title>
                <mat-card-subtitle>Procedimentos para qualidade na compilacao de programas</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="boletim-card" style="text-align:center">
                <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                </p>
              </mat-card-content>

              <mat-card-actions align="end">
                  <button mat-button>Abrir</button>
              </mat-card-actions>
            </mat-card>
      
   
  </div>
